{% extends "base.html" %}
{% block title %}Datenschutzerklärung - PolePosition Automation{% endblock %}

{% block content %}
<h1>Datenschutzerklärung</h1>
<p>
    Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich
    auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TMG).
</p>
<p>
    In dieser Datenschutzerklärung informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung
    im Rahmen unserer Website.
</p>

<h2>Kontakt mit uns</h2>
<p>
    Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten
    zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen sechs Monate bei uns gespeichert.
</p>

<h2>Cookies</h2>
<p>
    Unsere Website verwendet sogenannte Cookies. Dabei handelt es sich um kleine Textdateien,
    die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an.
</p>
{% endblock %}
